:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Times New Roman", Times, serif;
  color: #010101;
  background-color: #fefefe;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__common {
  padding: 20px;
}
header .left__section {
  display: flex;
  align-items: center;
}
header .left__section span {
  font-weight: 600;
}
header .left__section img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
header .right__section a {
  margin: 0 15px;
  font-weight: 600;
}
header .right__section a:last-child {
  text-transform: uppercase;
}

main #home {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.85), rgba(245, 245, 245, 0.85)), url("../img/background2.jpg");
  background-size: cover;
  height: calc(100vh - 70px);
}
main #home .side__nav {
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 3px;
}
main #home .side__nav .socials {
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #home .side__nav .socials a {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.1rem;
  position: relative;
  border-radius: 3px;
  transition: background 0.3s;
}
main #home .side__nav .socials a:hover {
  background: #ffc715;
}
main #home .side__nav .socials a img {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #home .hero__container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #home .hero__container .name h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}
main #home .hero__container .sub pre {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}
main #home .hero__mouse {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
main #home .hero__mouse .mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #010101;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}
main #home .hero__mouse .mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #010101;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}
main .content__container {
  padding: 2rem 7rem;
}
main .content__container .underline {
  height: 4px;
  width: 10%;
  background-color: #ffc715;
}
main #about .about__content {
  background: #fbfbfb;
  padding: 9rem 7rem;
}
main #about .left__container {
  width: 70%;
  padding: 3rem 4rem;
}
main #about .right__container {
  width: 30%;
}
main #about .dev__toolkit__container {
  background-color: #fdfdfd;
}
main #about .dev__toolkit__container .underline {
  height: 4px;
  width: 10%;
  background-color: #ffc715;
}
main #about .dev__toolkit__container .toolkits {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 4rem;
}
main #about .dev__toolkit__container .toolkits .toolkit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #about .dev__toolkit__container .toolkits .toolkit img {
  height: 5rem;
  width: 5rem;
}
main #about .dev__toolkit__container .toolkits .toolkit sub {
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 500;
}
main #about .skills__over__container {
  background-color: #fff;
}
main #about .skills__over__container .skills__container .skill__content {
  padding: 1rem 4rem;
}
main #about .skills__over__container .skills__container .skill__content .skills {
  padding: 1rem 4rem;
  display: flex;
  flex-wrap: wrap;
}
main #about .skills__over__container .skills__container .skill__content .skills .skills__skill {
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  font-size: 0.7rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
  width: -moz-fit-content;
  width: fit-content;
  cursor: default;
  transition: background 0.001s;
}
main #about .skills__over__container .skills__container .skill__content .skills .skills__skill:hover {
  background: rgba(153, 153, 153, 0.3);
}
main #projects .projects__container {
  background-color: #fdfdfd;
}
main #projects .projects__container .projects {
  padding: 2rem 7rem;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
main #projects .projects__container .projects .projects__project {
  cursor: pointer;
  border: 1px solid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.2s;
}
main #projects .projects__container .projects .projects__project .project__img {
  height: 200px;
  width: 100%;
}
main #projects .projects__container .projects .projects__project .project__img img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main #projects .projects__container .projects .projects__project .project__text {
  padding: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
main #projects .projects__container .projects .projects__project .project__text h6 {
  font-size: 0.9rem;
}
main #projects .projects__container .projects .projects__project:hover {
  transform: translateY(-5px);
}
main #certifications .certifications__container .certifications__content {
  padding: 2rem 7rem;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
main #certifications .certifications__container .certifications__content .certificate {
  cursor: pointer;
  border: 1px solid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.2s;
}
main #certifications .certifications__container .certifications__content .certificate a img {
  width: 400px;
  border-radius: 10px;
}
main #certifications .certifications__container .certifications__content .certificate:hover {
  transform: translateY(-5px);
}

.footer__separator {
  background: #ffc715;
  height: 20px;
}

footer {
  background: #010101;
  height: 200px;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .socials__icons {
  height: 35px;
  display: flex;
}
footer .socials__icons .social__icon {
  background: #010101;
  border-radius: 5px;
  margin: 5px;
}
footer .socials__icons .social__icon a {
  height: 25px;
  width: 25px;
  display: block;
}
footer .socials__icons .social__icon a svg {
  height: 25px;
}
footer .socials__icons .social__icon:hover {
  color: #ffc715;
}
footer .footer__sign {
  margin-top: 5px;
}

.color__palette div {
  height: 200px;
}
.color__palette .dark__grey {
  background: #292929;
  color: #fefefe;
}
.color__palette .grey {
  background: #585858;
}
.color__palette .yellow {
  background: #ffc715;
}
.color__palette .white {
  background: #fefefe;
}
.color__palette .black {
  background: #010101;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}