* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__common {
    padding: 20px;
  }

  .left__section {
    display: flex;
    align-items: center;

    span {
      font-weight: 600;
    }

    img {
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .right__section {
    a {
      margin: 0 15px;
      text-decoration: none;
    }
  }
}

main {
  background: linear-gradient(to right, rgba(245, 245, 245, 0.85), rgba(245, 245, 245, 0.85)),
    url('../img/background2.jpg');
  background-size: cover;
  height: calc(100vh - 70px);
}

footer {
  background: green;
  height: 200px;
}
