// Color palette
$dark__grey: #292929;
$grey: #585858;
$yellow: #ffc715;
$white: #fefefe;
$black: #010101;

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  color: $black;
  background-color: $white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__common {
    padding: 20px;
  }

  .left__section {
    display: flex;
    align-items: center;

    span {
      font-weight: 600;
    }

    img {
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .right__section {
    a {
      margin: 0 15px;
      font-weight: 600;

      &:last-child {
        text-transform: uppercase;
      }
    }
  }
}

main {
  #home {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.85), rgba(245, 245, 245, 0.85)),
      url('../img/background2.jpg');
    background-size: cover;
    height: calc(100vh - 70px);

    .side__nav {
      background: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
      border-radius: 3px;

      .socials {
        width: 3.8rem;
        height: 3.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
          width: 2.8rem;
          height: 2.8rem;
          padding: 0.1rem;
          position: relative;
          border-radius: 3px;
          transition: background 0.3s;

          &:hover {
            background: $yellow;
          }

          img {
            cursor: pointer;
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .hero__container {
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .name {
        h1 {
          font-size: 4rem;
          text-align: center;
          font-weight: 700;
        }
      }

      .sub {
        pre {
          text-align: center;
          font-weight: 600;
          font-size: 1.3rem;
        }
      }
    }

    .hero__mouse {
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);

      .mouse {
        width: 25px;
        height: 40px;
        border: 2px solid $black;
        border-radius: 60px;
        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          width: 5px;
          height: 5px;
          position: absolute;
          top: 7px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $black;
          border-radius: 50%;
          opacity: 1;
          animation: wheel 1.3s infinite;
          -webkit-animation: wheel 1.3s infinite;
        }
      }
    }
  }

  .content__container {
    padding: 2rem 7rem;

    .underline {
      height: 4px;
      width: 10%;
      background-color: $yellow;
    }
  }

  #about {
    .about__content {
      background: #fbfbfb;
      padding: 9rem 7rem;
    }

    .left__container {
      width: 70%;
      padding: 3rem 4rem;
    }

    .right__container {
      width: 30%;
    }

    .dev__toolkit__container {
      background-color: #fdfdfd;

      .underline {
        height: 4px;
        width: 10%;
        background-color: $yellow;
      }

      .toolkits {
        display: flex;
        justify-content: space-evenly;
        padding: 3rem 4rem;

        .toolkit {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            height: 5rem;
            width: 5rem;
          }

          sub {
            font-size: 1.3rem;
            margin-top: 1rem;
            font-weight: 500;
          }
        }
      }
    }

    .skills__over__container {
      background-color: #fff;

      .skills__container {
        .skill__content {
          padding: 1rem 4rem;

          .skills {
            padding: 1rem 4rem;
            display: flex;
            flex-wrap: wrap;

            .skills__skill {
              padding: 0.5rem 1rem;
              margin-bottom: 0.3rem;
              margin-right: 0.3rem;
              font-size: 0.7rem;
              background: rgba(153, 153, 153, 0.2);
              border-radius: 5px;
              font-weight: 600;
              color: #666;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content;
              cursor: default;
              transition: background 0.001s;

              &:hover {
                background: rgba(153, 153, 153, 0.3);
              }
            }
          }
        }
      }
    }
  }

  #projects {
    .projects__container {
      background-color: #fdfdfd;

      .projects {
        padding: 2rem 7rem;

        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        // grid-auto-rows: 20px;

        .projects__project {
          cursor: pointer;
          border: 1px solid;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          transition: transform 0.2s;

          .project__img {
            height: 200px;
            width: 100%;

            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }

            // img:nth-child(2) {
            //   height: 200px;
            // }
          }

          .project__text {
            padding: 1rem;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;

            h6 {
              font-size: 0.9rem;
            }
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }

  #certifications {
    .certifications__container {
      .certifications__content {
        padding: 2rem 7rem;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
        justify-content: center;

        .certificate {
          cursor: pointer;
          border: 1px solid;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          height: 267px;
          box-shadow: 0 10px 38px 0 rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          transition: transform 0.2s;

          a {
            img {
              height: 267px;
              width: 400px;
              border-radius: 10px;
            }
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

.footer__separator {
  background: $yellow;
  height: 20px;
}

footer {
  background: $black;
  height: 200px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .socials__icons {
    height: 35px;
    display: flex;

    .social__icon {
      background: $black;
      border-radius: 5px;
      margin: 5px;

      a {
        height: 25px;
        width: 25px;
        display: block;

        svg {
          height: 25px;
        }
      }

      &:hover {
        color: $yellow;
      }
    }
  }

  .footer__sign {
    margin-top: 5px;
  }
}

.color__palette {
  div {
    height: 200px;
  }

  .dark__grey {
    background: $dark__grey;
    color: $white;
  }

  .grey {
    background: $grey;
  }

  .yellow {
    background: $yellow;
  }

  .white {
    background: $white;
  }

  .black {
    background: $black;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
